
body {
    margin: 0;
    line-height: normal;
}

.useful-links {
    position: absolute;
    top: 2082px;
    left: 1076px;
    font-size: 26px;
    font-weight: 600;
    color: #000;
    }
    .about-us {
    position: absolute;
    top: 2149px;
    left: 1076px;
    font-weight: 500;
    }
    .home {
    position: absolute;
    top: 2149px;
    left: 1591px;
    font-weight: 500;
    }
    .exampleemailcom {
    position: absolute;
    top: 2149px;
    left: 2129px;
    font-weight: 500;
    }
    .events {
    position: absolute;
    top: 2209px;
    left: 1076px;
    font-weight: 500;
    }
    .savor-the-artistry {
    position: absolute;
    top: 2165px;
    left: 302px;
    line-height: 150.52%;
    font-weight: 500;
    display: inline-block;
    width: 302px;
    }
    .reservation {
    position: absolute;
    top: 2329px;
    left: 1591px;
    font-weight: 500;
    }
    .social-media {
    position: absolute;
    top: 2269px;
    left: 2129px;
    font-weight: 500;
    }
    .blogs {
    position: absolute;
    top: 2269px;
    left: 1076px;
    font-weight: 500;
    }
    .menus {
    position: absolute;
    top: 2269px;
    left: 1591px;
    font-weight: 500;
    }
    .div {
    position: absolute;
    top: 2209px;
    left: 2129px;
    font-weight: 500;
    }
    .faq {
    position: absolute;
    top: 2329px;
    left: 1076px;
    font-weight: 500;
    }
    .offers {
    position: absolute;
    top: 2209px;
    left: 1591px;
    font-weight: 500;
    }
    .main-menu {
    position: absolute;
    top: 2082px;
    left: 1591px;
    font-size: 26px;
    font-weight: 600;
    color: #000;
    }
    .contact-us {
    position: absolute;
    top: 2082px;
    left: 2129px;
    font-size: 26px;
    font-weight: 600;
    color: #000;
    }
    .copyright-2024-dscode {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    white-space: pre-wrap;
    }
    .fi-rr-copyright-icon {
    position: absolute;
    top: 5px;
    left: 212px;
    width: 18px;
    height: 18px;
    overflow: hidden;
    }
    .copyright-2024-dscode-all-ri-parent {
    position: absolute;
    top: 2472px;
    left: 1051px;
    width: 497px;
    height: 27px;
    font-size: 22px;
    }
    .profile-page-child {
    position: absolute;
    top: 2457px;
    left: 303px;
    border-radius: 50%;
    background-color: #39a1db;
    width: 58px;
    height: 57px;
    }
    .profile-page-item {
    position: absolute;
    top: 2457px;
    left: 476px;
    border-radius: 50%;
    width: 57px;
    height: 57px;
    }
    .profile-page-inner {
    position: absolute;
    top: 2457px;
    left: 552px;
    border-radius: 50%;
    width: 58px;
    height: 57px;
    }
    .ellipse-div {
    position: absolute;
    top: 5199px;
    left: 578px;
    border-radius: 50%;
    background-color: #edffef;
    width: 58px;
    height: 57px;
    display: none;
    }
    .icon-facebook {
    position: absolute;
    top: 2473px;
    left: 421px;
    width: 14px;
    height: 25.5px;
    }
    .icon-youtube {
    position: absolute;
    top: 2476px;
    left: 742px;
    width: 27px;
    height: 19.2px;
    }
    .icon-instagram {
    position: absolute;
    top: 2475px;
    left: 493px;
    width: 22px;
    height: 22px;
    }
    .icon-twitter {
    position: absolute;
    top: 2475px;
    left: 568px;
    width: 26px;
    height: 21.2px;
    }
    .nicepng-plate-of-food-png-5460-icon {
    position: absolute;
    top: 2275px;
    left: 332px;
    width: 276px;
    height: 275px;
    object-fit: cover;
    display: none;
    }
    .pngwing-1-icon {
    position: absolute;
    top: 2249px;
    left: calc(50% - 151px);
    width: 301px;
    height: 301px;
    object-fit: cover;
    display: none;
    }
    .food-plate-healthy-free-photo-icon {
    position: absolute;
    top: 2276px;
    left: 1888px;
    width: 261px;
    height: 262px;
    object-fit: cover;
    display: none;
    }
    .fi-rr-shopping-bag-icon {
    position: absolute;
    top: 68px;
    left: 1774px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    }
    .fi-br-clock {
    position: absolute;
    top: 68px;
    left: 1897px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: none;
    }
    .home1 {
    position: absolute;
    top: 65px;
    left: 593px;
    font-weight: 500;
    color: #39a1db;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    }
    .offers1 {
    position: absolute;
    top: 65px;
    left: 1211px;
    font-weight: 500;
    }
    .services {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    }
    .group-child {
    position: absolute;
    top: 14px;
    left: 105px;
    width: 11.7px;
    height: 5.7px;
    }
    .services-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 116.7px;
    height: 30px;
    }
    .resturent-website-inner {
    position: absolute;
    top: 65px;
    left: 979px;
    width: 116.7px;
    height: 30px;
    }
    .group-item {
    position: absolute;
    top: 14px;
    left: 69px;
    width: 11.7px;
    height: 5.7px;
    }
    .menu-parent {
    position: absolute;
    top: 65px;
    left: 778px;
    width: 80.7px;
    height: 30px;
    }
    .resturent-website-child {
    position: absolute;
    top: 47px;
    left: 1906px;
    border-radius: 40px;
    width: 179px;
    height: 60px;
    }
    .contact {
    position: absolute;
    top: calc(50% - 522.5px);
    left: 1976px;
    font-weight: 500;
    color: #fff;
    }
    .fi-br-comment {
    position: absolute;
    top: 68px;
    left: 1895px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: none;
    }
    .fi-br-shopping-bag {
    position: absolute;
    top: 68px;
    left: 1776px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: none;
    }
    .group-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #39a1db;
    width: 20px;
    height: 20px;
    }
    .b {
    position: absolute;
    top: 1px;
    left: 5px;
    }
    .ellipse-parent {
    position: absolute;
    top: 62px;
    left: 1787px;
    width: 20px;
    height: 20px;
    font-size: 14px;
    color: #fff;
    font-family: Inter;
    }
    .icon-search {
    position: absolute;
    height: 2.74%;
    width: 1.85%;
    top: 5.65%;
    right: 25.81%;
    bottom: 91.62%;
    left: 72.34%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    }
    .fi-rr-phone-call-icon {
    position: absolute;
    top: 65px;
    left: 1938px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    }
    .image-removebg-preview-1-icon {
    position: absolute;
    top: -19px;
    left: 94px;
    width: 225px;
    height: 225px;
    object-fit: cover;
    }
    .resturent-website {
    position: absolute;
    top: 63px;
    left: 217px;
    background: linear-gradient(180deg, #fafafa, #fcfcfc);
    width: 2366px;
    height: 1169px;
    overflow: hidden;
    font-size: 20px;
    color: #272727;
    font-family: Poppins;
    }
    .rectangle-icon {
    position: absolute;
    right: 1851px;
    bottom: 1190px;
    width: 649px;
    height: 960px;
    }
    .logout {
    position: absolute;
    top: calc(50% - 26.5px);
    left: calc(50% - 252px);
    display: inline-block;
    width: 301px;
    height: 54px;
    }
    .vector-icon {
    position: absolute;
    height: 28.19%;
    width: 1.57%;
    top: 36.14%;
    right: 11.79%;
    bottom: 35.66%;
    left: 86.65%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    }
    .logout-parent {
    position: absolute;
    top: 769px;
    left: calc(50% - 415px);
    border-radius: 10px;
    background-color: #fff;
    width: 632px;
    height: 83px;
    overflow: hidden;
    }
    .vector-icon1 {
    position: absolute;
    height: 28.19%;
    width: 1.57%;
    top: 36.14%;
    right: 11.78%;
    bottom: 35.66%;
    left: 86.65%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    }
    .my-reviews-parent {
    position: absolute;
    top: 685px;
    left: calc(50% - 415px);
    border-radius: 10px;
    background-color: #fff;
    width: 630px;
    height: 83px;
    
    }
    .mask-group-icon {
    position: absolute;
    top: 0px;
    left: 111px;
    width: 349px;
    height: 341px;
    object-fit: cover;
    }
    .my-orders-parent {
    position: absolute;
    top: 601px;
    left: calc(50% - 415px);
    border-radius: 10px;
    background-color: #fff;
    width: 630px;
    height: 83px;
    overflow: hidden;
    }
    .darine-mourad {
    position: absolute;
    top: 399px;
    left: 90px;
    font-size: 60px;
    line-height: 65px;
    display: inline-block;
    font-family: 'David Libre';
    color: #0066a1;
    width: 740px;
    height: 69px;
    }
    .testimonial {
    position: absolute;
    top: 700px;
    left: calc(50% - 1152px);
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.07));
    width: 830px;
    height: 852px;
    font-size: 35px;
    color: #39a1db;
    font-family: 'Open Sans';
    }
    .image-removebg-preview-1-icon1 {
    position: absolute;
    top: 1950px;
    left: 303px;
    width: 225px;
    height: 225px;
    object-fit: cover;
    }
    .my-profile-parent {
    position: absolute;
    top: 1217px;
    left: calc(50% - 1152px);
    border-radius: 10px;
    background-color: #39a1db;
    width: 630px;
    height: 83px;
    overflow: hidden;
    font-size: 35px;
    color: #fff;
    font-family: 'Open Sans';
    }
    .span {
    white-space: pre-wrap;
    }
    .general-information1 {
    color: #0066a1;
    white-space: pre-wrap;
    }
    .general-information {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 1501px;
    height: 90px;
    }
    .edit {
    position: absolute;
    top: calc(50% - 35px);
    left: 1313px;
    font-size: 35px;
    color: #db3939;
    display: inline-block;
    width: 90px;
    height: 72px;
    }
    .arrow-right-icon {
    position: absolute;
    width: 3.82%;
    top: calc(50% - 30px);
    right: 3.18%;
    left: 93%;
    max-width: 100%;
    overflow: hidden;
    height: 40px;
    }
    .general-information-parent {
    width: 1501px;
    position: relative;
    height: 90px;
    }
    .group-wrapper {
    width: 1480px;
    border-bottom: 1px #39a1db;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 5px;
    color: #333;
    }
    .darine-mourad1 {
    position: absolute;
    top: 124px;
    left: 0px;
    display: inline-block;
    width: 659px;
    height: 41px;
    }
    .name {
    position: absolute;
    top: 0px;
    left: 15px;
    font-size: 40px;
    display: inline-block;
    white-space: pre-wrap;
    width: 248px;
    height: 87px;
    }
    .darine-mourad2 {
    position: absolute;
    top: 12px;
    left: 213px;
    display: inline-block;
    width: 1068px;
    height: 66px;
    }
    .darine-mourad-wrapper {
    position: absolute;
    top: 0px;
    left: 185px;
    width: 1281px;
    height: 100px;
    overflow: hidden;
    font-size: 35px;
    }
    .darine-mourad-parent {
    width: 1466px;
    position: relative;
    height: 165px;
    }
    .group-container {
    align-self: stretch;
    border-radius: 15px;
    background-color: rgba(57, 161, 219, 0.08);
    height: 75px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 15px;
    box-sizing: border-box;
    font-size: 30px;
    }
    .email {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    white-space: pre-wrap;
    width: 248px;
    height: 87px;
    }
    .email-wrapper {
    width: 248px;
    position: relative;
    height: 87px;
    }
    .group-frame {
    align-self: stretch;
    border-radius: 15px;
    background-color: rgba(57, 161, 219, 0.08);
    height: 75px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 15px;
    box-sizing: border-box;
    }
    .frame-parent {
    position: absolute;
    top: 802px;
    left: 965px;
    border-radius: 20px;
    border: 1px #39a1db;
    box-sizing: border-box;
    width: 1521px;
    height: 652px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 20px 25px;
    gap: 54px;
    font-size: 40px;
    color: #0066a1;
    font-family: 'Open Sans';
    }
    .darinemouradgmailcom {
    position: absolute;
    top: 1098px;
    left: 1403px;
    font-size: 35px;
    font-family: 'Open Sans';
    color: #0066a1;
    display: inline-block;
    width: 1068px;
    height: 66px;
    }
    .media-production-city6th-of {
    position: absolute;
    top: 1230px;
    left: 1395px;
    font-size: 35px;
    font-family: 'Open Sans';
    color: #0066a1;
    display: inline-block;
    width: 1068px;
    height: 66px;
    }
    .div1 {
    position: absolute;
    top: 1358px;
    left: 1398px;
    font-size: 35px;
    font-family: 'Open Sans';
    color: #0066a1;
    display: inline-block;
    width: 1068px;
    height: 66px;
    }
    .profile-page {
    width: 100%;
    position: relative;
    background-color: #fcfcfc;
    height: 2751px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #555;
    font-family: Inter;
    }